*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    text-align: center;
    
}

.cantainer{
    border: 1px solid black;
    height: 400px;
    width: 400px;
    margin-left: 280px;
    margin-top: 50px;
   background: linear-gradient(135deg,#00ffcc);
    text-align: center;
}

section{
    padding-top: 40px;
}

button {
    background-color: rgba(22, 57, 196, 0.842);
    color: white;
    border-radius: 2px;
}

#temp{
    padding: 20px;
}